<div class="container">
    <form [formGroup]="teacherForm" class="mt-5 mb-3" (ngSubmit)="onSubmit()">

        <fieldset class="border p-4">
            <legend class="w-auto">Cadastrar Professor</legend>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Nome
                </mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="teacherForm.controls.firstName.touched && teacherForm.controls.firstName.invalid">
                    <span *ngIf="teacherForm.controls.firstName.errors.required">Campo Obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Último Nome
                </mat-label>
                <input matInput formControlName="lastName" required>
                <mat-error *ngIf="teacherForm.controls.lastName.touched && teacherForm.controls.lastName.invalid">
                    <span *ngIf="teacherForm.controls.lastName.errors.required">Campo Obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="bornDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="teacherForm.controls.bornDate.touched && teacherForm.controls.bornDate.invalid">
                    <span *ngIf="teacherForm.controls.bornDate.errors.required">Campo Obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> E-mail
                </mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="teacherForm.controls.email.touched && teacherForm.controls.email.invalid">
                    <span *ngIf="teacherForm.controls.email.errors.required">Campo Obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Senha
                </mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="teacherForm.controls.password.touched && teacherForm.controls.password.invalid">
                    <span *ngIf="teacherForm.controls.password.errors.required">Campo Obrigatório.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Tempo de Experiência
                </mat-label>
                <input matInput formControlName="yearsOfExperience" required>
                <mat-error *ngIf="teacherForm.controls.yearsOfExperience.touched && teacherForm.controls.yearsOfExperience.invalid">
                    <span *ngIf="teacherForm.controls.yearsOfExperience.errors.required">Campo Obrigatório.</span>
                </mat-error>
            </mat-form-field> 
        </fieldset>
        <button type="submit" mat-raised-button color="primary" class="mt-3">Cadastrar</button>
    </form>
</div>