<div class="container home-container justify-content-end">
    <div class="home-text-content">
        <h1>Bem vindo ao Stonks</h1>
        <p class="home-text-paragraph">Conheça o maior sistema de gerenciamento de cursos do país</p>
        <button class="btn btn-dark home-button-text">
            <a routerLink="teachers" style="text-decoration: none !important;">
                INICIE AGORA SUA BUSCA
            </a>
        </button>
    </div>
    <div class="home-image-content">
        <img src="../../../assets/main-image.svg" alt="image">
    </div>
</div>
