<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a routerLink="" class="navbar-brand">Stonks</a>
        </div>
        <ul class="navbar-nav">
            <li><a routerLink="" class="nav-link">Home</a></li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                        Alunos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" routerLink="students/create">Cadastrar</a>
                        <a class="dropdown-item" routerLink="students">Consultar</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                        Professores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" routerLink="teachers/create">Cadastrar</a>
                        <a class="dropdown-item" routerLink="teachers">Consultar</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                        Cursos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" routerLink="courses/create">Cadastrar</a>
                        <a class="dropdown-item" routerLink="courses">Consultar</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a href="#" class="nav-link">Login</a></li>
            <li><a href="#" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>